
/**
 * Basic HTML tag definitions
 */

body{
	font-family: $fontSans;
	background-size: cover;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAADCAYAAABfwxXFAAAAVklEQVQIWwXBMQ5AMBSA4f8ZSpqIpBqDpRGcwKBuYTI4vHMI1ef7JG6H5vzQK0ylIZjMaD46m5Bz2XWtIXbC7BKNfyjaF1yBXOehQ7ghvOAt2YJWAiR+V+cXW8j39q4AAAAASUVORK5CYII=");
}

a {
	color: lighten($bodyTextColor, 30);
	text-decoration: none;
	border-bottom: 1px $bodyTextColor dotted;
}

a:hover {
	color: $higlightText;
}

::selection {
	color: $higlightText;
	background: darken( $higlightText, 20 );
}
