
/**
 * Basic HTML tag definitions
 */

body{
	background: tomato;
	font-family: $fontSans;
}

a {
	color: lighten($bodyTextColor, 30);
	text-decoration: none;
	border-bottom: 1px $bodyTextColor dotted;
}

a:hover {
	color: $higlightText;
}

::selection {
	color: $higlightText;
	background: darken( $higlightText, 20 );
}
