# Custom enhancements
# ----------------------------------------------------------------------
env.php

# Craft runtime and backups folders
# ----------------------------------------------------------------------
craft/config/*
!craft/config/_db.php
craft/storage/backups/*

# Misc files
# ----------------------------------------------------------------------
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.sublime-workspace
*.sublime-project
